!! Xft settings
Xft.dpi:		    96
Xft.autohint:		false
Xft.antialias:		true
Xft.rgba:		    rgb
Xft.hinting:		true
Xft.hintstyle:		hintslight
Xft:lcdfilter:		lcddefault

*.foreground:   #cbe3e7
*.background:   #1e1c31
*.cursorColor:  #fbfcfc

! black
*.color0:       #565575
*.color8:       #100e23
! red
*.color1:       #ff8080
*.color9:       #ff5458
! green
*.color2:       #95ffa4
*.color10:      #62d196
! yellow
*.color3:       #ffe9aa
*.color11:      #ffb378
! blue
*.color4:       #91ddff
*.color12:      #65b2ff
! magenta
*.color5:       #c991e1
*.color13:      #906cff
! cyan
*.color6:       #aaffe4
*.color14:      #63f2f1
! white
*.color7:       #cbe3e7
*.color15:      #a6b3cc

!! St settings
!st.termname:        st-256color
!st.shell:           /usr/bin/bash
st.font:    Iosevka:size=12
st.alpha:   0.8
